/* Avatar component styles using design tokens */

.avatar {
  padding: var(--token-semantic-padding-m);
  border-radius: var(--token-semantic-radius-md);
}

.default {
  color: var(--token-component-avatar-default-content);
}

.background {
}

.content {
}

.border {
}
