/* Venn font family for Reservio */
@font-face {
  font-family: 'Venn';
  src: url('./Venn_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Venn';
  src: url('./Venn_Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Venn';
  src: url('./Venn_Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Set CSS variable for font family */
:root {
  --font-venn: 'Venn', sans-serif;
}
