/* Skeleton component styles using design tokens */

.skeleton {
  padding: var(--token-semantic-padding-m);
  border-radius: var(--token-semantic-radius-md);
}

.text {
}

.background {
}

.circular {
}

.rectangular {
}
