/* Rating component styles using design tokens */

.rating {
  padding: var(--token-semantic-padding-m);
  border-radius: var(--token-semantic-radius-md);
}

.default {
  background-color: var(--token-component-rating-default-background-default);
}

.background {
}
